@media print {
    header nav {
        display: none;
    }

    footer {
        display: none;
    }
    
    aside {
        display: none;
    }

    video {
        display: none;
    }

    img {
        width: 50%;
    }

    a {
        text-decoration: none;
    }
}